@tailwind base;
@tailwind components;
@tailwind utilities;


*{margin: 0px; padding: 0px; box-sizing: border-box;}

body{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    background: #f5f0f0;
    color: rgba(0, 0, 0, 0.9);
    /* overflow: hidden; */
}


::-webkit-scrollbar{
    width: 5px !important; 
    height: 5px !important;
}
::-webkit-scrollbar-thumb{background: #ff5252;}
::-webkit-scrollbar-track{background: #fff;}


.container{width: 95%; margin: auto;}

.btn-org{
    background: #ff5252 !important; 
    color: #fff !important; 
    font-weight: 500; 
    font-size: 16px;
}

.btn-org:hover{background:#606060 !important;}

.link:hover{color: #ff5252;}

.MuiBadge-badge{background-color: #ff5252 !important;}

nav ul button{text-transform: capitalize !important;}

nav ul button:hover{background: none !important;}

.slierHome{overflow: inherit !important;}

.swiper-button-prev, 
.swiper-button-next{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background: #fff; 
    border-radius: 100%;
    width: 45px; 
    height: 45px; 
    min-width: 45px;
    box-shadow: 0 1px 3px #0000001f, 
                0 1px 2px 0000003d !important; 
}


.swiper-button-prev:after, 
.swiper-button-next:after{
    font-size: 22px !important; 
    color: #000;
}


.smlBtn .swiper-button-prev, 
.smlBtn .swiper-button-next{
    width: 30px !important; 
    height: 30px !important;
    min-width: 30px !important; 
    top: 55% !important;
}

.smlBtn .swiper-button-prev:after, 
.smlBtn .swiper-button-next:after{
    font-size: 18px !important; 
    color: #000;
}
.smlBtn .swiper-button-prev:hover, 
.smlBtn .swiper-button-next:hover{
    background: #ff5252 !important;
}

.smlBtn .swiper-button-prev:hover::after, 
.smlBtn .swiper-button-next:hover::after{
    color: #fff !important;
}


.homeCatSlider{overflow: inherit !important;}

.homeCatSlider .swiper-button-prev, 
.homeCatSlider .swiper-button-next{
    width: 30px; 
    height: 30px; 
    min-width: 30px;
}

.homeCatSlider .swiper-button-prev:after, 
.homeCatSlider .swiper-button-next:after{
    font-size: 16px !important;
}

.homeCatSlider .swiper-button-prev{left: -5px !important;}
.homeCatSlider .swiper-button-next{right: -5px !important;}

.homeCatSlider .swiper-button-prev:hover, 
.homeCatSlider .swiper-button-next:hover{
    background: #ff5252 !important;
}

.homeCatSlider .swiper-button-prev:hover::after, 
.homeCatSlider .swiper-button-next:hover::after{
    color: #fff !important;
}

.homeCatSlider .item:hover img{transform: scale(1.1);}


.MuiTabs-indicator{background-color: #ff5252 !important;}
.MuiTab-textColorPrimary.Mui-selected{color: #ff5252 !important;}


.productsSlider .swiper-wrappen{
    padding: 15px; 
    margin-left: -15px; 
    margin-right: -15px;
}

footer form input::placeholder{font-size: 14px;}


.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate{color: #ff5252 !important;}


.MuiFormControlLabel-label{
    font-size: 13px !important; 
    color: rgba(0, 0, 0, 0.8);
}

.swiper-pagination-bullet-active{background: #ff5252 !important;}

.homeSlider1 .swiper-slide-active .info{right: 0px !important; opacity: 1;}
.homeSlider1 .swiper-slide-active .info h4{right: 0px !important; opacity: 1;}
.homeSlider1 .swiper-slide-active .info h3{right: 0px !important; opacity: 1;}
.homeSlider1 .swiper-slide-active .info h2{right: 0px !important; opacity: 1;}
.homeSlider1 .swiper-slide-active .info .btn_{right: 0px !important; opacity: 1;}

.homeSlider1 .info h4{transition-duration: 1.2s;}
.homeSlider1 .info h2{transition-duration: 1.4s;}
.homeSlider1 .info h3{transition-duration: 1.6s;}
.homeSlider1 .info .btn_{transition-duration: 1.8s;}

.bannerBox1{height: 215px;}
.bannerBox1 a{text-decoration: underline !important;}

.MuiCheckbox-root{padding: 6px !important;}

.ReactCollapse--collapse {transition: height 400ms;}

.itemViewActions button.active svg{
    color: #ff5252 !important;
    opacity: 1;    
}

.Mui-selected.MuiPaginationItem-page{
    background: #ff5252 !important;
    color: #fff !important;
}

