@tailwind base;
@tailwind components;
@tailwind utilities;


*{margin: 0px; padding: 0px; box-sizing: border-box;}

body{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    background: #f5f0f0;
    color: rgba(0, 0, 0, 0.9);
}

.container{width: 95%; margin: auto;}

.link:hover{color: #ff5252;}

.MuiBadge-badge{background-color: #ff5252 !important;}

nav ul button{text-transform: capitalize !important;}

nav ul button:hover{background: none !important;}