@tailwind base;
@tailwind components;
@tailwind utilities;


*{margin: 0px; padding: 0px; box-sizing: border-box;}

body{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    background: #f5f0f0;
}

.container{width: 90%; margin: auto;}

.link:hover{color: #ff5252;}

.MuiBadge-badge{background-color: #ff5252 !important;}